
<h1>Título</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
  ullamcorper tortor. Nunc facilisis viverra lectus, id eleifend tellus
  hendrerit sit amet. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Maecenas pulvinar rutrum ligula eu
  gravida. Donec vitae magna elit. Vivamus venenatis sapien ut metus ultricies,
  in rutrum leo cursus. Nam nec varius mi, et ultrices est. Vivamus in massa
  fermentum, iaculis dui a, fermentum massa. Vivamus vitae commodo libero. Donec
  nec nibh vel arcu vehicula interdum vel at est. Donec pretium vel ante ac
  volutpat. Mauris id ultricies erat, ac laoreet neque. Interdum et malesuada
  fames ac ante ipsum primis in faucibus.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
  ullamcorper tortor. Nunc facilisis viverra lectus, id eleifend tellus
  hendrerit sit amet. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Maecenas pulvinar rutrum ligula eu
  gravida. Donec vitae magna elit. Vivamus venenatis sapien ut metus ultricies,
  in rutrum leo cursus. Nam nec varius mi, et ultrices est. Vivamus in massa
  fermentum, iaculis dui a, fermentum massa. Vivamus vitae commodo libero. Donec
  nec nibh vel arcu vehicula interdum vel at est. Donec pretium vel ante ac
  volutpat. Mauris id ultricies erat, ac laoreet neque. Interdum et malesuada
  fames ac ante ipsum primis in faucibus.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
  ullamcorper tortor. Nunc facilisis viverra lectus, id eleifend tellus
  hendrerit sit amet. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Maecenas pulvinar rutrum ligula eu
  gravida. Donec vitae magna elit. Vivamus venenatis sapien ut metus ultricies,
  in rutrum leo cursus. Nam nec varius mi, et ultrices est. Vivamus in massa
  fermentum, iaculis dui a, fermentum massa. Vivamus vitae commodo libero. Donec
  nec nibh vel arcu vehicula interdum vel at est. Donec pretium vel ante ac
  volutpat. Mauris id ultricies erat, ac laoreet neque. Interdum et malesuada
  fames ac ante ipsum primis in faucibus.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
  ullamcorper tortor. Nunc facilisis viverra lectus, id eleifend tellus
  hendrerit sit amet. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Maecenas pulvinar rutrum ligula eu
  gravida. Donec vitae magna elit. Vivamus venenatis sapien ut metus ultricies,
  in rutrum leo cursus. Nam nec varius mi, et ultrices est. Vivamus in massa
  fermentum, iaculis dui a, fermentum massa. Vivamus vitae commodo libero. Donec
  nec nibh vel arcu vehicula interdum vel at est. Donec pretium vel ante ac
  volutpat. Mauris id ultricies erat, ac laoreet neque. Interdum et malesuada
  fames ac ante ipsum primis in faucibus.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
  ullamcorper tortor. Nunc facilisis viverra lectus, id eleifend tellus
  hendrerit sit amet. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Maecenas pulvinar rutrum ligula eu
  gravida. Donec vitae magna elit. Vivamus venenatis sapien ut metus ultricies,
  in rutrum leo cursus. Nam nec varius mi, et ultrices est. Vivamus in massa
  fermentum, iaculis dui a, fermentum massa. Vivamus vitae commodo libero. Donec
  nec nibh vel arcu vehicula interdum vel at est. Donec pretium vel ante ac
  volutpat. Mauris id ultricies erat, ac laoreet neque. Interdum et malesuada
  fames ac ante ipsum primis in faucibus.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
  ullamcorper tortor. Nunc facilisis viverra lectus, id eleifend tellus
  hendrerit sit amet. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Maecenas pulvinar rutrum ligula eu
  gravida. Donec vitae magna elit. Vivamus venenatis sapien ut metus ultricies,
  in rutrum leo cursus. Nam nec varius mi, et ultrices est. Vivamus in massa
  fermentum, iaculis dui a, fermentum massa. Vivamus vitae commodo libero. Donec
  nec nibh vel arcu vehicula interdum vel at est. Donec pretium vel ante ac
  volutpat. Mauris id ultricies erat, ac laoreet neque. Interdum et malesuada
  fames ac ante ipsum primis in faucibus.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
  ullamcorper tortor. Nunc facilisis viverra lectus, id eleifend tellus
  hendrerit sit amet. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Maecenas pulvinar rutrum ligula eu
  gravida. Donec vitae magna elit. Vivamus venenatis sapien ut metus ultricies,
  in rutrum leo cursus. Nam nec varius mi, et ultrices est. Vivamus in massa
  fermentum, iaculis dui a, fermentum massa. Vivamus vitae commodo libero. Donec
  nec nibh vel arcu vehicula interdum vel at est. Donec pretium vel ante ac
  volutpat. Mauris id ultricies erat, ac laoreet neque. Interdum et malesuada
  fames ac ante ipsum primis in faucibus.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at
  ullamcorper tortor. Nunc facilisis viverra lectus, id eleifend tellus
  hendrerit sit amet. Class aptent taciti sociosqu ad litora torquent per
  conubia nostra, per inceptos himenaeos. Maecenas pulvinar rutrum ligula eu
  gravida. Donec vitae magna elit. Vivamus venenatis sapien ut metus ultricies,
  in rutrum leo cursus. Nam nec varius mi, et ultrices est. Vivamus in massa
  fermentum, iaculis dui a, fermentum massa. Vivamus vitae commodo libero. Donec
  nec nibh vel arcu vehicula interdum vel at est. Donec pretium vel ante ac
  volutpat. Mauris id ultricies erat, ac laoreet neque. Interdum et malesuada
  fames ac ante ipsum primis in faucibus.
</p>


<!--
<img src="../../assets/logo-html.png" alt="Logo do HTML" width="100px" height="100px"><br>
<img src="../../assets/logo-css.png" alt="Logo do CSS" width="100px" height="100px"><br>
<img src="../../assets/logo-javascript.png" alt="Logo do JavaScript" width="100px" height="100px"><br>
-->


<!-- idle example -->
@defer{
  <img src="../../assets/logo-html.png" alt="Logo do Angular" width="100px" height="100px"><br>
}

<!-- on viewport example -->
@defer (on viewport) {
  <img src="../../assets/logo-css.png" alt="Logo do Angular" width="100px" height="100px"><br>
} @placeholder {
  <p>Futura imagem</p>
}@loading (minimum 2s) {
  <p>Carregando imagem...</p>
}

<!-- on timer example -->
@defer (on timer(4s)) {
  <img src="../../assets/logo-javascript.png" alt="Logo do Angular" width="100px" height="100px">
} @placeholder {
  <p>Futura imagem</p>
}@loading {
  <p>Carregando imagem...</p>
} @error {
  Carregamento falhou!
}

